
<div class="new">
    <div class="col-md-12 col-xs-12 padding-0">
    </div>
    <div class="col-xs-12 text-center">
        <a href="../../../../../login">
        </a>
    </div>
    <div class="col-xs-12">
        <div class="tab-content">
            <div class="sec1--suc-grid">
                <div>
                    <div class="col-xs-12 section1--title Display3 text-center">
                            <i class="fa fa-warning fa-10x warning-icon"></i>
                            <div class="col-xs-12 section1--title Display3 text-center ">Page not found</div></div>
                    <div class="col-xs-12 section1--info text-center font-size-22 marg-top-10">The page you are trying to access is Invalid. Please contact your Employer if you need further assistance.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
